<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>Контора</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/_img/icons/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/_img/icons/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/_img/icons/fav/favicon-16x16.png">
		<link rel="manifest" href="/assets/_img/icons/fav/manifest.json">
		<link rel="shortcut icon" href="/assets/_img/icons/fav/favicon.ico">
		<meta name="msapplication-TileColor" content="#00f">
		<meta name="msapplication-TileImage" content="/assets/_img/icons/fav/mstile-144x144.png">
		<meta name="msapplication-config" content="/assets/_img/icons/fav/browserconfig.xml">
		<meta name="theme-color" content="#00f">
		<meta name="description" content="—">
		<meta name="keywords" content="—">
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/assets/_css/cascadingstyleshits.css">
		
    </head>
    <body style="overflow: hidden;background: #000">
    <div id="app">
    <header>
        <article data-background="#000000">
           <flag></flag>
            <div class="we-do">
                We design identities&thinsp;/&thinsp;websites&thinsp;/&thinsp;apps&thinsp;/&thinsp;ad &&nbsp;content for&nbsp;social networks🔥
            </div>
            <div class="about-kontora">
                Independent design bureau <br>based in&nbsp;Novorossiysk.
                <div class="about-kontora-links">
                    © 2018 
                    <a class="about-kontora-link" id="vacancies" href="/vacancies" style="display: none;">Vacancies</a>
                    <a class="about-kontora-link" id="partnership" href="/partnership" style="display: none;">Partnership</a>
                </div>
            </div>
        </article>
    </header>
        <div class="marquee top">
        <div class="marquee-inner mtop">
            <!-- <%for (var i=0;i<160;i++) {%>
                <div class="multiply multiply-top" >
                    <a class="link-hashtag filter marquee-link">3D</a>
                    <a class="link-hashtag filter marquee-link">Web</a>
                    <a class="link-hashtag filter marquee-link">Graphic</a>
                    <a class="link-hashtag filter marquee-link">SMM</a>
                </div>
            <% } %> -->
        </div>
        </div>
        <div class="marquee right">
        <div class="marquee-inner mright">
            <!-- <%for (var i=0;i<160;i++) {%>
                <div class="multiply multiply-right">
                    <a class="link-instagram marquee-link" href="https://instagram.com/prostokontora"><span>instagram</span></a>
                </div>
            <% } %> -->
        </div>
        </div>
        <div class="marquee bottom" id="mbottom">
            <div class="marquee-inner mbot" >
            <!-- <%for (var i=0;i<160;i++) {%>
                <div class="multiply multiply-bottom">
                    <a class="link-phone marquee-link" href="tel:+791654657990"><span>+7&thinsp;965&thinsp;465-79-90</span></a>
                    <a class="link-email marquee-link" href="mailto:mail@kontora.gq"><span>mail@kontora.gq</span></a>
                </div>
            <% } %> -->
            </div>
        </div>
        <div class="marquee left">
        <div class="marquee-inner mleft">
            <!-- <%for (var i=0;i<160;i++) {%>
                <div class="multiply multiply-left">
                    <a class="link-hashtag filter marquee-link">3D</a>
                    <a class="link-hashtag filter marquee-link">Web</a>
                    <a class="link-hashtag filter marquee-link">Graphic</a>
                    <a class="link-hashtag filter marquee-link">SMM</a>
                </div>
            <% } %> -->
        </div>
        </div>
      <!-- <footer>
		
            <a href="/requisites"><span>Реквизиты</span></a>
            <a href="/partnership"><span>Сотрудничество</span></a>
            <a href="/vacancies"><span>Вакансии</span></a>
            <span class="©">
                Контора
                <span class="©-©">©</span>
                <span class="©-year">2019</span>
            </span>
        </footer>-->
    
    </div><!--app-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
    <script type="text/javascript" src="build/bundle.js"></script>
    </body>
    </html>
  
