<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Контора</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/_img/icons/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/_img/icons/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/_img/icons/fav/favicon-16x16.png">
    <!-- <link rel="manifest" href="/assets/_img/icons/fav/manifest.json"> -->
    <link rel="shortcut icon" href="/assets/_img/icons/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#00f">
    <meta name="msapplication-TileImage" content="/assets/_img/icons/fav/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/_img/icons/fav/browserconfig.xml">
    <meta name="theme-color" content="#00f">
    <meta name="description" content="—">
    <meta name="keywords" content="—">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/_css/cascadingstyleshits.css">
  </head>
    <body>
    <div id="app">
      <router-view></router-view>
    </div><!--app-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
    <script type="text/javascript" src="/build/client/bundle.js"></script>
    </body>
    </html>
